.header {
  padding: 50px 0;

  &__inner {
    @extend %flex-standart;

    @include _515 {
      flex-wrap: wrap;
    }

  }
}

.menu {

  @include _980 {
    order: 1;
  }

  @include _515 {
    order: 0;
  }

  &__btn {
    display: none;

    @include _980 {
      width: 30px;
      height: 26px;
      background-color: transparent;
      border: none;
      border-top: 3px solid $grey;
      border-bottom: 3px solid $grey;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      cursor: pointer;
      position: relative;
      z-index: 155;

      & span {
        width: 100%;
        height: 3px;
        background-color: $grey;
      }

      &.menu__btn--active {
        border-color: #fff;

        & span {
          background-color: #fff;
        }
      }
    }
  }

  &__list {
    display: flex;

    @include _980 {
      position: absolute;
      left: 0;
      right: 0;
      height: 100vh;
      top: 0;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: rgba($grey, 0.9);
      z-index: 5;
      transform: translateY(0%);
      transition: all .3s;

      &.menu__list--active {
        transform: translateY(-200%);
      }
    }
  }

  &__list-item {
    padding-left: 34px;

    @include _980 {
      padding: 15px 0;
      width: 100%;
      text-align: center;
      transform: translateY(120px);

      & a {
        color: rgb(255, 255, 255);
        font-size: 22px;
      }
    }
  }

  &__list-link {
    text-decoration: none;
    color: $grey-menu;
  }
}

.user__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  @include _515 {
    margin: 10px auto 0;
  }

  &-link--left,
  &-link--right {
    background-color: $grey;
    width: 51px;
    height: 52px;
    border-radius: 30px;
    opacity: 1;
    transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &-link--center-l,
  &-link--center-r {
    background-color: $accent-bg;
    width: 89px;
    height: 51px;
    transition: all 0.3s;

    &:hover {
      background-color: orange;
    }
  }

  &-link--center-l {
    border-radius: 25px 0 0 25px;
    position: relative;
    transform: translateX(7px);

    &::after {
      @extend %after;
      width: 1px;
      height: 32px;
      background-color: $white;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  &-link--center-r {
    border-radius: 0 25px 25px 0;
    transform: translateX(-7px);
  }

  &-img--search {
    transform: translate(15px, 15px);
  }

  &-img--hart {
    position: relative;
    transform: translate(37px, 17px);
  }

  &-img--cart {
    position: relative;
    transform: translate(30px, 15px);
  }

  &-img--sort {
    transform: translate(14px, 15px);
  }

  &-hart--num,
  &-cart--num {
    position: absolute;
    top: 8px;
    right: 28px;
    background-color: $white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
    color: $Dianne;
    font-size: 10px;
    line-height: 15px;
    @extend %DMSans-400;
  }

  &-hart--num {
    top: 9px;
    right: 22px;
  }
}