html,
body{
  height: 100%;
}

body{
  @extend %DMSans-700;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.container--big{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
