$grey: #a3bbc8;
$grey-menu:#436372;
$grey7b:#7b7b7b;
$accent-bg:#fcd7b6;
$bg-opacity:rgba(252, 215, 182, 0.4);
$white:#ffffff;
$Dianne:#243f4d;

%DMSans-400 {
  font-family: 'DMSans-Regular',
    sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans-Medium',
    sans-serif;
  font-weight: 500;
}

%DMSans-700 {
  font-family: 'DMSans-Bold',
    sans-serif;
  font-weight: 700;
}

%Rubik-300 {
  font-family: 'Rubik-Light',
    sans-serif;
  font-weight: 300;
}

%Rubik-400 {
  font-family: 'Rubik-Regular',
    sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik-Medium',
    sans-serif;
  font-weight: 500;
}

%Rubik-700 {
  font-family: 'Rubik-Bold',
    sans-serif;
  font-weight: 700;
}

%Poppins-600 {
  font-family: 'Poppins-SemiBold',
    sans-serif;
  font-weight: 600;
}

%Poppins-700 {
  font-family: 'Poppins-Bold',
    sans-serif;
  font-weight: 700;
}

%flex-standart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

%checked-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@mixin _1350 {
  @media (max-width: 1350px) {
    @content;
  }
}


@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1100{
  @media (max-width: 1100px) {
    @content;
  }
}


@mixin _980 {
  @media (max-width: 980px) {
    @content;
  }
}

@mixin _615 {
  @media (max-width: 615px) {
    @content;
  }
}

@mixin _515 {
  @media (max-width: 515px) {
    @content;
  }
}

@mixin _320 {
  @media (max-width: 320px) {
    @content;
  }
}