@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "libs";

.shop {
  padding-top: 40px;

  &__inner {
    display: flex;
  }
}

.filter {
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
  margin-top: 6px;

  &__item {
    margin-bottom: 40px;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    line-height: 1.2;
    color: $Dianne;
    position: relative;
    margin-bottom: 35px;
    padding-right: 50px;

    &::after {
      @extend %after;
      width: 39px;
      height: 3px;
      background-color: $grey;
      border-radius: 1px;
      top: 50%;
      right: -14px;
    }
  }

  &__checkbox-input {
    @extend %checked-hidden;

    &:checked+.filter__checkbox {
      background-color: rgba(163, 187, 200, 0.4);
      box-shadow: 2px 1px 2px $grey;
    }
  }

  &__checkbox {
    width: 270px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    color: $grey-menu;
    font-size: 16px;
    @extend %Rubik-400;
    border: 1px solid $grey;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

.filter-price__from,
.filter-price__to {
  font-size: 14px;
  @extend %Rubik-400;
  color: $Dianne;

  &::before {
    content: "$";
  }
}

.filter-price {
  &__box {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 270px;
  }
}

.irs--flat .irs-line {
  top: 5px;
  height: 3px;
  opacity: 0.65;
  background-color: $grey;
  border-radius: 1px;
}

.irs--flat .irs-bar {
  top: 5px;
  height: 4px;
  background-color: $grey;
  border-radius: 0.4px;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filter-recent {
  &__item {
    display: flex;
    margin-bottom: 35px;
  }

  &__img {
    width: 71px;
    height: 71px;
    object-fit: contain;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    line-height: 15px;
    @extend %Rubik-400;
    color: #333333;
    margin-left: 20px;

    &.filter-recent__stars {
      display: none;
    }
  }
}

.filter-recent-stars {
  padding-left: 0;
}

.contant {
  width: 100%;

  .contant__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .products-one__item {
      min-width: 270px;
    }
  }
}

.contact-filter {
  border: 1px solid $grey;
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 37px;

  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__battons {
    display: flex;
    align-items: flex-end;
  }

  &__btn {
    border: none;
    outline: none;
    margin-left: 15px;
    background-color: transparent;
    cursor: pointer;
  }

  &__btn-active {
    path {
      fill: rgb(218, 21, 21);
    }
  }
}

.jq-selectbox {
  &__select {
    height: 32px;
    padding: 0 45px 0 10px;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
  }

  &__text {
    @extend %Rubik-400;
    font-size: 16px;
  }

  &__trigger {
    border-left: none;
  }

  &__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 14px;
    height: 8px;
    border: none;
    background-image: url("../images/icons/arrow_down.svg");
  }

  &__dropdown {
    width: auto;
  }
}

.product-details {
  padding: 120px 0 100px;

  &__wrapper {
    display: flex;
  }

  &__inner {
    display: flex;
  }

  &__slider-small {
    margin-right: 25px;
    width: 138px;
    height: 160px;
    border: 2px solid #f2f2f2;

  }

  &__slider-big {
    margin-right: 75px;
    width: 387px;
    border: 2px solid #f2f2f2;

  }

  &__slider-1 {
    width: 138px;

    & .product-details__slider-img {
      cursor: pointer;
      margin-bottom: 15px;
    }

    & img {
      min-width: 138px;
      height: 160px;
      object-fit: cover;
    }

  }

  &__slider-2 {
    & .product-details__slider-img {
      cursor: pointer;
    }

    & img {
      width: 387px;
      object-fit: cover;
    }
  }

  &__box {
    @extend %Rubik-400;
    color: #333333;

    & .product-details__title {
      font-size: 40px;
      line-height: 26px;
      margin: 30px 0 18px;
    }

    & .filter-recent__stars--mod {
      max-width: 141px;
      margin-left: -5px;
      margin-bottom: 37px;
    }

    & .product-details__price {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 36px;
      display: inline-block;
    }

    & .product-details-text {
      font-size: 16px;
      line-height: 30px;
      color: $Dianne;
      margin-bottom: 34px;
    }
  }

  &__form {
    margin-bottom: 38px;
  }

  &__input {
    &.jq-number {
      position: relative;
      vertical-align: middle;
      padding: 0;
    }

    & .jq-number__field {
      width: 150px;
      border: 1px solid #a3bbc8;
      border-bottom-color: a3bbc8;
      border-radius: 0;
      box-shadow: none;
      position: relative;
      height: 53px;
    }

    & .jq-number__field input {
      width: 100%;
      padding: 16px 50px;
      border: none;
      outline: none;
      background: none;
      text-align: center;
      font-size: 15px;
      @extend %Rubik-400;
      caret-color: transparent;
    }

    & .jq-number__spin.minus {
      top: 0px;
      bottom: 0;
      left: 0;
    }

    & .jq-number__spin.plus {
      top: 0px;
      bottom: 0;
      right: 0px;
    }

    & .jq-number__spin {
      position: absolute;
      width: 50px;
      height: 53px;
      border: 1px solid #a3bbc8;
      border-bottom-color: #a3bbc8;
      border-radius: 0;
      background: none;
      cursor: pointer;
    }

    & .jq-number__spin.minus:after,
    .jq-number__spin.plus:after,
    .jq-number__spin.plus:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 16px;
      border: none;
      width: 16px;
      height: 2px;
      background-color: #333333;
      transform: translateY(-50%);
    }

    & .jq-number__spin.plus:before {
      height: 16px;
      width: 2px;
      left: 23px;
    }
  }


  &__btn {
    padding: 21px 50px;
    font-size: 15px;
    line-height: 11px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #ffffff;
    background-color: #a3bbc8;
    border-radius: 5px;
    @extend %Rubik-400;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    transition: all .3s;
    border: 1px solid transparent;

    &:hover {
      background-color: #ffffff;
      color: rgb(44, 40, 40);
      border: 1px solid#a3bbc8;
    }
  }

  &__list,
  &__item a {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $Dianne;
    text-decoration: none;
  }
}

.product-tabs {
  padding-bottom: 128px;

  &__top {
    margin-bottom: 39px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    @extend %Rubik-500;


  }

  &__top-item {
    display: inline-block;
    text-decoration: none;
    color: $Dianne;
    background-color: rgba(163, 187, 200, 0.2);
    max-width: 241px;
    width: 100%;
    height: 53px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 15px 17px;

    &+.product-tabs__top-item {
      margin-left: 13px;
    }
  }

  &__top-item--active {
    color: #ffffff;
    background-color: #a3bbc8;
  }

  &__content-item {
    display: none;

    &.product-tabs__content-item--active {
      display: block;
    }
  }

  &__content-text {
    font-size: 16px;
    line-height: 30px;
    @extend %Rubik-400;
    color: $Dianne;
    padding: 1px 0;
  }

  &__reviews {
    padding: 20px 0;
    display: flex;
  }

  &__reviews-img {
    width: 70px;
    height: 71px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 31px;
  }

  &__reviews {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 26px;
    color: $Dianne;
  }

  &__reviews-contentbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__reviews-name {
    @extend %DMSans-500;
    color: $grey7b;
    font-size: 20px;

    & span {
      @extend %Rubik-400;
      font-size: 16px;
      padding-left: 15px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 14px;
        background-color: $grey7b;
        left: 6px;
        top: 3px;
        bottom: 0;
      }
    }
  }

  &__reviews-text {
    margin-bottom: 15px;
  }

  &__reviews-reply {
    display: inline-block;
    padding-left: 25px;
    text-decoration: none;
    @extend %Rubik-400;
    color: $Dianne;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url("../images/icons/arrow_reviews.svg");
      width: 15px;
      height: 14px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__reviews-title {
    font-size: 22px;
    line-height: 28px;
    @extend %DMSans-500;
    color: $grey-menu;
    margin-top: 65px;
    padding-bottom: 16px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $grey;
      bottom: 0;
      left: 0;
    }
  }

  &__reviews-box {
    margin-top: 40px;
    display: flex;
  }

  &__reviews-rating-text {
    font-size: 16px;
    line-height: 28px;
    @extend %Rubik-400;
    margin-right: 60px;
  }

  &__rating-lable {
    margin-right: 27px;
    cursor: pointer;
  }

  &__rating-input {
    @extend %checked-hidden;

    &:checked+.product-tabs__rating-mod {
      path {
        fill: #ffc35b;
      }
    }
  }

  &__form-lable {
    display: flex;
    margin: 29px 0;
  }

  &__form-input {
    width: 49%;
    border: 1px solid #ececec;
    padding: 20px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__form-textarea {
    width: 100%;
    height: 225px;
    border: 1px solid #ececec;
    padding: 20px;
    resize: none;
  }

  &__form-btn {
    margin-left: 0px;
    margin-top: 30px;
  }
}

.related {
  padding-bottom: 120px;

  &__title {
    color: #243f4d;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 71px;
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
    border: 2px solid #a3bbc8;
    border-radius: 5px;
    position: absolute;
    right: 0;
  }

  .slick-prev::after,
  .slick-next::after {
    content: "";
    background-image: url('../images/icons/arrow_left.svg');
    position: absolute;
    width: 16px;
    height: 9px;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
  }

  .slick-prev::after {
    background-image: url('../images/icons/arrow_left.svg');

  }

  .slick-next::after {
    background-image: url('../images/icons/arrow_left.svg');
    transform: rotate(180deg);
    top: 45%;

  }

  .slick-prev {
    transform: translate(-65px, -100px);
    outline: none;

  }

  .slick-next {
    transform: translateY(-100px);
    outline: none;
  }

  .slick-arrow.slick-disabled {
    opacity: 0.5;
    border: 2px solid #a3bbc8;
  }
}


.blog-details {
  &__item {
    & h3 {
      font-size: 36px;
      line-height: 26px;
      color: #333333;
      margin-bottom: 10px;
      @extend %Rubik-400;
    }

    & p {
      font-size: 16px;
      line-height: 30px;
      color: #243f4d;
      @extend %Rubik-400;
      margin-bottom: 43px;
    }

    & blockquote {
      @extend %Rubik-400;
      font-size: 16px;
      line-height: 26px;
      background-color: rgba(163, 187, 200, 0.4);
      padding: 20px 93px 20px 40px;
      border-left: 7px solid $grey;
      margin-bottom: 45px;

      & span {
        display: block;
        margin-top: 12px;
        position: relative;
        padding-left: 40px;

        &::before {
          @extend %after;
          position: absolute;
          width: 20px;
          height: 4px;
          background-color: $grey;
          left: 0;
          top: 12px;
        }
      }
    }
  }

  &__item-subtitle {
    font-size: 16px;
    line-height: 30px;
    @extend %Rubik-500;
    color: $Dianne;
    margin-bottom: 27px;
    display: inline-block;
    margin-top: 15px;

  }

  &__item-img--left {
    width: 323px;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
  }

  &__item-img--right {
    float: right;
  }

  &__box {
    padding: 24px 0 26px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }

  &__box-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__boxauthor {
    display: inherit;
  }

  &__box-inner span {
    display: block;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #666666;
    @extend %Rubik-400;
  }

  &__boxauthor-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    margin-right: 28px;
  }

  &__author-link {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    @extend %Rubik-500;
    color: #333333;
  }

  &__social-tags,
  &__social-share {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 26px;
    color: #999999;

    & span {
      display: inline-block;
      margin-right: 30px;
      color: #333333;
    }
  }

  &__social-share {
    display: flex;
    margin-top: 5px;

    & span {
      margin-right: 19px;
    }
  }

  &__social-sharelist {
    display: flex;
    margin-left: 30px;
  }

  &__social-shareitem {
    padding-right: 20px;
  }

  &__social-facebook:hover {
    & path {
      fill: blue;
    }
  }

  &__social-twitter:hover {
    & path {
      fill: rgb(21, 139, 218);
    }
  }

  &__social-instagram:hover {
    & path {
      fill: rgb(180, 17, 17);
    }
  }

  &__social-google:hover {
    & path {
      fill: rgb(62, 148, 206);
    }
  }

  &__leave-lable {
    display: flex;
    margin-bottom: 20px;
  }

  &__leave-form {
    &.contact--form {
      max-width: 620px;
      width: 100%;

      & .blog-details__leave-input {
        width: 300px;
        height: 50px;
        background-color: #fbfbfb;
        border: none;

        &::placeholder {
          text-transform: uppercase;
        }
      }

      & .blog-details__leave-textarea {
        background-color: #fbfbfb;
        border: none;

        &::placeholder {
          text-transform: uppercase;
        }
      }
    }
  }

  &__leave-input {
    width: 50%;
    padding: 15px 40px 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-image: url('../images/icons/user_form.svg');
    background-repeat: no-repeat;
    background-position: 95%;

    &:nth-child(2) {
      background-image: url('../images/icons/massage_form.svg');
    }

    &:focus {
      outline: transparent;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 36px;
      @extend %Rubik-400;
      color: #999999;
    }

    &+.blog-details__leave-input {
      margin-left: 30px;
    }

  }


  &__leave-textarea {
    padding: 19px 40px 19px 21px;
    max-width: 830px;
    width: 100%;
    min-height: 120px;
    resize: none;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-image: url('../images/icons/commens__form.svg');
    background-repeat: no-repeat;
    background-position: 98% 15%;

    &:focus {
      outline: transparent;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 36px;
      @extend %Rubik-400;
      color: #999999;
    }
  }

  &__leave-btn {
    cursor: pointer;
    padding: 19px 35px;
    margin-bottom: 0;
  }
}

.comments {
  padding: 67px 0 97px;

  &__item {
    margin-top: 32px;

    &:nth-child(odd) {
      margin-left: 130px;
    }
  }

  &__title {
    @extend %Rubik-700;
    font-size: 24px;
    line-height: 25px;
    color: #436372;
    margin-bottom: 61px;
  }

  &__item-inner {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
  }

  &__item {
    display: flex;
  }

  &__item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 32px;
  }

  &__item-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;

    &-title {
      @extend %Rubik-700;
      font-size: 16px;
      color: #436372;
    }

    & span {
      @extend %Rubik-400;
      font-size: 14px;
      color: #9e9e9e;
    }
  }

  &__item-inner-text {
    font-size: 16px;
    line-height: 30px;
    @extend %Rubik-400;
    color: #565872;
    margin-bottom: 20px;
  }

  &__item-inner-link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #526278;
    @extend %Rubik-400;
    padding-right: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icons/arrow_lamp.png);
      width: 22px;
      height: 9px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}













@import "media";