<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.min.css">
  </head>

  <body>
    {% include 'app/module/_components/_header/_header.html' %}
    <main class="main">
      {% include 'app/module/contact/_breadcrumbs.html' %}
      {% include 'app/module/contact/_contacts.html' %}
      {% include 'app/module/contact/_map.html' %}
      {% include 'app/module/_components/_news/_news.html' %}
      {% include 'app/module/_components/_slider-cooperation/_slider-cooperation.html' %}
    </main>
    {% include 'app/module/_components/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>

</html>