<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.min.css">
  </head>

  <body>
    {% include 'app/module/_components/_header/_header.html' %}
    <main class="main">
     {% include 'app/module/login/_breadcrumbs.html' %}
     {% include 'app/module/login/_modal.html' %}
     {% include 'app/module/_components/_slider-cooperation/_slider-cooperation--size.html' %}
    </main>
    {% include 'app/module/_components/_footer/_footer.html' %}
    <script src="js/main.min.js"></script>
  </body>

</html>