.lamps {
  &__items {
    display: flex;
    padding: 93px 0 50px;
  }

  &__item {
    max-width: 870px;
    max-height: 390px;
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    // padding-left: 130px;
    background-color: rgba(252, 215, 182, 0.4);

    
  }

  &__item+.lamps__item {
    margin-left: 30px;
  }

  &__item-img {
    width: 233px;
    object-fit: cover;
    transform: translateY(-83px);
    min-height: 405px;
    margin-right: 20px;
    max-width: 100%;
  }

  &__item-img--cart2 {
    margin-right: 62px;
  }

  &__box-title {
    font-size: 26px;
    line-height: 32px;

    max-width: 250px;
    margin-bottom: 32px;
  }

  &__box-text {
    max-width: 461px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $Dianne;
    margin-bottom: 34px;
  }

  &__box-btn {
    display: block;
    text-decoration: none;
    border: 1px solid #436372;
    border-radius: 5px;
    padding: 24px 82px 25px 20px;
    width: 180px;
    height: 60px;
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;

    &::after {
      @extend %after;
      background-image: url("../images/icons/arrow_lamp.png");
      width: 22px;
      height: 9px;
      right: 20px;
    }

    &:hover {
      background-color: #436372;
      color: #ffffff;
      opacity: 0.3;
    }
  }
}